*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

main{
    width: 100%;
    height: 50rem;
    font-family: 'Roboto', sans-serif;
}

.frontimage{
    width: 100%;
    height: 50rem;
}

button{
    border: inherit;
    cursor: pointer;
    padding: 0;
    color: inherit;
    float: right;
    background: white;
}

header{
    width: 100%;
    height: 58px;
    border-bottom: 1px solid lightgray;
}

.headerlogo{
    padding-left: 50px;
    float: left;
    width: 17%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxheader4{
    width: 15rem;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.boxheader3{
    width: 15rem;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    margin-right: 10rem;
}

img{
    width: 80%;
    height: 40%;
}

.container{
    position: relative;
    text-align: center;
    color: white;
}

.text-image{
    position: absolute;
    top: 37rem;
    left: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    border-radius: 1rem;
    color: white;
}

.button-image{
    position: absolute;
    top: 45rem;
    left: 2rem;
    font-size: larger;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    background: white;
    border: 1px solid black;
}

footer{
    width: 100%;
    height: 300px;
    background: black;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}





.catogorie{
    width: 30rem;
    height: 30rem;
    margin-top: 5rem;
}

.catogorie.checkbox{
    width: 1px;
    height: 1px;
}

.catogorie1{
    background: yellow;
    width: 100%;
    height: 8.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.catogorie2{
    background: green;
    width: 100%;
    height: 8.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.catogorie3{
    background: blue;
    width: 100%;
    height: 8.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}





.maincard{
    width: 75%;
    height: 60rem;  
    margin-left: 15rem;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);
}

.card{
    height: 25rem;
    width: 20rem;
    border: 1px solid lightgray;
    margin-top: 3.5rem;
    margin-left: 1.2rem;
}

.boxsmall{
    background: red;
    width: 100%;
    height: 10rem;
}

.boxlarge{
    background: green;
    width: 100%;
    height: 15rem;
}

.card1{
    grid-row: 1;
    grid-column: 1;
}

.card2{
    grid-row: 1;
    grid-column: 2;
}

.card3{
    grid-row: 1;
    grid-column: 3;
}

.card4{
    grid-row: 1;
    grid-column: 4;
}

.card5{
    grid-row: 2;
    grid-column: 1;
}

.card6{
    grid-row: 2;
    grid-column: 2;
}

.card7{
    grid-row: 2;
    grid-column: 3;
}

.card8{
    grid-row: 2;
    grid-column: 4;
}

.groteheading{
    width: 100%;
    height: 50rem;
    display: flex;
}

.ghfotoframe{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ghframefoto{
    width: 40rem;
    height: 40rem;
    background: yellow;
}

.ghframe{
    display: flex;
    justify-content: center;
    align-items: center;

}

.photo1{
    width: 80%;
    height: 100%;
    box-shadow: 1px 1px 111px black;
    border-radius: 3%;
}

.ghtextframe{
    width: 50%;
    height: 100%;
}

.ghtextbox{
    width: 100%;
    height: 5rem;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    font-size: 4rem;
}

.ghtextbox2{
    width: 80%;
    height: 15rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.ghbuttonbox{
    width: 100%;
    height: 10rem;
    position: relative;
}

.ghbutton{
    position: absolute;
    bottom: 0;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    width: 10rem;
    height: 3rem;
    background: white;
    border: 1px solid black;
}





.vierfotos{
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.foto1{
    width: 25rem;
    height: 30rem;
    background: #eee;
    box-shadow: 1px 1px 40px black;
    border-radius: 1.5rem;
}

.foto2{
    width: 25rem;
    height: 30rem;
    background: #eee;
    box-shadow: 1px 1px 40px black;
    border-radius: 1.5rem;
}

.foto3{
    width: 25rem;
    height: 30rem;
    background: #eee;
    box-shadow: 1px 1px 40px black;
    border-radius: 1.5rem;
}

.foto4{
    width: 25rem;
    height: 30rem;
    background: #eee;
    box-shadow: 1px 1px 40px black;
    border-radius: 1.5rem;
}

.foto1 img{
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}

.foto2 img{
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}

.foto3 img{
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}

.foto4 img{
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}


.vierblokken{
    width: 100%;
    height: 50rem;
}

.blokdeel1{
    width: 93%;
    height: 25rem;
    display: flex;
    background: #eee;
    border-radius: 50px;
    margin: 4rem;
    box-shadow: 1px 1px 30px black;
}

.blokdeel-1{
    width: 25%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blokdeel-2{
    width: 25%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blokdeel-3{
    width: 25%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blokdeel-4{
    width: 25%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blokimage{
    width: 40%;
    height: 45%;
}