*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

main{
    width: 100%;
    height: 50rem;
    font-family: 'Roboto', sans-serif;
}

.frontimage{
    width: 100%;
    height: 50rem;
}

button{
    border: inherit;
    cursor: pointer;
    padding: 0;
    color: inherit;
    float: right;
    background: white;
}

header{
    width: 100%;
    height: 58px;
    border-bottom: 1px solid lightgray;
}

.headerlogo{
    padding-left: 50px;
    float: left;
    width: 17%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxheader4{
    width: 15rem;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.boxheader3{
    width: 15rem;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    margin-right: 10rem;
}

img{
    width: 80%;
    height: 40%;
}

.container{
    position: relative;
    text-align: center;
    color: white;
}

.text-image{
    position: absolute;
    top: 37rem;
    left: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    border-radius: 1rem;
    color: white;
}

.button-image{
    position: absolute;
    top: 45rem;
    left: 2rem;
    font-size: larger;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    background: white;
    border: 1px solid black;
}

footer{
    width: 100%;
    height: 30rem;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.footer_section1{
    width: 40%;
    height: 90%;
    padding: 4rem;
    color: white;
}

.footer_section1_copyright{
    color: white;
}

.footer_font{
    font-weight: 100;
}

.footer_link{
    color: white;
    font-weight: 100;
}

.footer_link:visited{
    color: white;
}

.footer_section2{
    width: 40%;
    height: 90%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer_section2_blokken{
    width: 40%;
    height: 95%;
    padding: 1rem;
    color: #eee;
    font-weight: 100;
}

.footer_section2_blokken a{
    color: white;
    text-decoration: none;
}

.footer_section2_blokken a:visited{
    color: white;
}

header a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}
















.groteheading{
    width: 100%;
    height: 50rem;
    display: flex;
    position: relative;
}

.feattext{
    position: absolute;
    bottom: 0;
    left: 7rem;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.ghfotoframe{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ghframefoto{
    width: 40rem;
    height: 40rem;
}

.ghframe{
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo1{
    width: 80%;
    height: 100%;
    box-shadow: 1px 1px 111px black;
    border-radius: 3%;
}

.ghtextframe{
    width: 50%;
    height: 100%;
}

.ghtextbox{
    width: 100%;
    height: 5rem;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    font-size: 4rem;
}

.ghtextbox2{
    width: 80%;
    height: 15rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.ghbuttonbox{
    width: 100%;
    height: 10rem;
    position: relative;
}

.ghbutton{
    position: absolute;
    bottom: 0;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    width: 10rem;
    height: 3rem;
    background: white;
    border: 1px solid black;
}








.vierfotos{
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.foto1{
    margin-top: 1.5rem;
    width: 27rem;
    height: 30rem;
}

.foto2{
    margin-top: 1.5rem;
    width: 27rem;
    height: 30rem;
}

.foto3{
    margin-top: 1.5rem;
    width: 27rem;
    height: 30rem;
}

.foto4{
    margin-top: 1.5rem;
    width: 27rem;
    height: 30rem;
}

.foto1 img{
    width: 90%;
    height: 100%;
    transition:0.3s transform;
}

.foto2 img{
    width: 90%;
    height: 100%;
    transition:0.3s transform;
}

.foto3 img{
    width: 90%;
    height: 100%;
    transition:0.3s transform;
}

.foto4 img{
    width: 90%;
    height: 100%;
    transition:0.3s transform;
}

.foto1 img:hover{
    transform:scale(1.09);
    cursor: pointer;
}

.foto2 img:hover{
    transform:scale(1.09);
    cursor: pointer;
}

.foto3 img:hover{
    transform:scale(1.09);
    cursor: pointer;
}

.foto4 img:hover{
    transform:scale(1.09);
    cursor: pointer;
}










.vierblokken{
    width: 100%;
    height: 33rem;
    flex-wrap: wrap;
}

.blokdeel1{
    width: 93%;
    height: 25rem;
    display: flex;
    margin: 4rem;
    gap: 1rem;
    margin-top: 10rem;
    margin-left: 4.4rem;
}

.blokdeel-1{
    width: 25%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #eee;
}

.blokdeel-2{
    width: 25%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #eee;
}

.blokdeel-3{
    width: 25%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #eee;
}

.blokdeel-4{
    width: 25%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #eee;
}

.blokimage{
    width: 40%;
    height: 45%;
}  









.gafefunctie{
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;
}

.gafefunctie--blokken{
    height: 100%;
    width: 55rem;
    background: #eee;
    padding: 4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 300;
}

.gafefunctie--blokken2{
    height: 100%;
    width: 55rem;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center
}

.gafefunctieimage{
    width: 60%;
    height: 90%;
    transition:0.3s transform;
}

.gafefunctieimage:hover{
    transform:scale(1.05);
}










.reviews{
    width: 92.6%;
    height: 50%;
    background: #eee;
    margin-left: 4.5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.reviewsblokken{
    width: 30%;
    height: 80%;
    background: white;
    padding: 1rem;
    flex-wrap: wrap;
    border: 0.1px solid rgb(100, 100, 100);
}

.reviewsblokken_boven{
    width: 100%;
    height: 50%;
    text-align: center;
}

.reviewsblokken_onder{
    width: 100%;
    height: 50%;
    color: rgb(247, 247, 38);
    font-size: 1.9rem;
    text-align: center;
}

.reviewsblokken img{
    border-radius: 50%;
    width: 25%;
    height: 80%;
}

.reviewsblokken_review{
    font-size: 1.5rem;
    color: black;
}




.catogorie{
    width: 30rem;
    height: 30rem;
    margin-top: 5rem;
    margin-left: 12rem;
}

.catogorie.checkbox{
    width: 1px;
    height: 1px;
}

.catogorie1{
    background: #eee;
    width: 100%;
    height: 8.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.catogorie2{
    background: #eee;
    width: 100%;
    height: 8.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    
}

.catogorie3{
    background: #eee;
    width: 100%;
    height: 8.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.maincard{
    width: 80%;
    height: 100rem;
    background: #eee;
    margin-left: 12rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

}

.card{
    width: 20rem;
    height: 25rem;
    background: white;
}

.card img{
    width: 100%;
    height: 100%;
    transition:0.3s transform;
}

.card img:hover{
    transform:scale(1.02);
    cursor: pointer;
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
    margin-bottom: 4rem;
}

.inputs > div{
    display: flex;
    align-items: center;
    width: 40rem;
}

.filter{
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
    appearance: none;
    -webkit-appearance: none;
    background: #eee;
    border-radius: 50%;
    box-shadow: inset 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
}

.filter:checked{
    background: rgb(161, 161 , 161);
}

.filter:checked ~ .label{
    text-decoration: underline;
}


.winkelwagen_h2{
    font-weight: 200;
    font-size: 3rem;
    margin-left: 51rem;
    margin-top: 7rem;
}

.winkelwagen_section{
    width: 80%;
    height: 70rem;
    margin: 10rem;
    display: flex;
    background: #eee;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.winkelwagen_blokjes{
    width: 100%;
    height: 15rem;
    background: white;
    border: 1px solid black;
    padding-left: 7rem;
    display: flex;
    align-items: center;
}

.winkelwagen_img{
    width: 15%;
    height: 100%;
}

.dropbtn {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
    color: #554c4c;
    font-size: 2.4rem;
    width: 15rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #554c4c;;
    border-radius:3rem;
    margin-bottom: 5rem;
  }


  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 5rem;
    margin-top:6rem;
  }


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0rem 0.8rem 2rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
  }


  .dropdown-content a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
  }


  .dropdown-content a:hover {background-color: #ddd;}


  .dropdown:hover .dropdown-content {display: block;}


  .filter--dorpdown{
    width: 30%;
    height: 7rem;
    margin-top: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  /*invidueel product 1 */

  .invidueel_section{
    width: 100%;
    height: 80rem;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }

  .invidueel_sectioninner{
    width: 70%;
    height: 90%;
    background: white;
    display: block;
  }


  .invidueel_section_top{
    width: 100%;
    height: 50%;
    display: flex;
  }

  .invidueel_section_left{
    width: 100%;
    height: 100%;
    padding-left: 10rem;
    padding-top: 3rem;
  }

  .invidueel_section_left_block{
    width: 80%;
    height: 100%;
    background: #eee;
    margin-top: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .invidueel_section_left_img{
    height: 110%;
    width: 90%;
    transition:0.3s transform;
    transform: translateY(-2rem)
  }

  .invidueel_section_left_img:hover{
    transform:  scale(1.10);
  }

  .invidueel_section_right{
    width: 100%;
    height: 100%;
  }

  .invidueel_section_right_block{
    width: 80%;
    height: 80%;
    background: #eee;
    margin-top: 6.3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }

  .invidueel_section_right_block_texth2{
    font-weight: 400;
    font-size: 2rem;
  }

  .invidueel_section_right_block_texth2-2{
    font-weight: 399;
    font-size: 1.5rem;
  }

  .invidueel_section_under{
    width: 79%;
    height: 50%;
    display: flex;
    align-items: center;
    margin-left: 10rem;
  }

  .invidueel_section_midunder{
    width: 100%;
    height: 50%;
    background: #eee;
    padding: 1rem;
  }
  
  .invidueel_section_midunder > p{
    font-size: 1.5rem;
    font-weight: 200;
  }


  .invidueel_section_right_block_winkelwagen{
    display: flex;
    margin-top: 4rem;
    margin-left: 80rem;
  }

  .invidueel_section_right_block_variaties{
    width: 27rem;
    height: 5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-right: 4rem;
  }

  .invidueel_section_right_block_variaties_blokken{
    width: 33%;
    height: 100%;
    background: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .invidueel_section_right_block_button{
    width: 15rem;
    height: 5rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-top: 1rem;
    border: 1px solid black;
    }
  

@media screen and (max-width: 450px) {

    header{
        width: 60vh;
    }

    .headerlogo{
        width: 10rem;
    }

    .boxheader3{
        margin-right: 0rem;
    }



    /* INDEX */

    .button-image{
        display: none;
    }

    .container{
        display: none;
    }

    .ghbutton{
        position: relative;
        margin-left: 8rem;
    }




    .ghfotoframe{
        display: none;
    }

    .ghtextbox{
        font-size: 3rem;
        margin-left: 3rem;
    }

    .ghtextbox2{
        margin-left: 8rem;
    }





    .vierblokken{
        width: 100vh;
        margin-top: -8rem;
        height: 40rem;
        margin-left: -2.4rem;
    }

    .blokdeel1{
        flex-direction: column;
    }

    .blokdeel-1{
        flex-wrap: wrap;
        width: 23rem;
        height: 30rem;
        margin-left: 0rem;
    }

    .blokdeel-2{
        flex-wrap: wrap;
        width: 23rem;
        height: 30rem;
        margin-left: 0rem;
    }

    .blokdeel-3{
        flex-wrap: wrap;
        width: 23rem;
        height: 30rem;
        margin-left: 0rem;
    }

    .blokdeel-4{
        flex-wrap: wrap;
        width: 23rem;
        height: 30rem;
        margin-left: 0rem;
    }

    .blokimage{
        width: 5rem;
    }




    /* Gafe functie*/

    .gafefunctie{
        width: 100vh;
        display: block;
        height: 50rem;
    }

    .gafefunctie--blokken{
        font-size: 1rem;
        padding: 1rem;
        height: 23rem;
        width: 20rem;
        margin-bottom: 1rem;
        margin-left: 4rem;
    }

    .gafefunctie--blokken2{
        width: 20rem;
        height: 23rem;
        margin-left: 4rem;
    }

    .gafefunctieimage{
        width: 100%;
        height: 100%;
        padding: 3rem;
    }


    /* 4 rolex */

    .vierfotos{
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 1rem;
    }

    .foto1{
        width: 10rem;
        height: 10rem;
    }

    .foto2{
        width: 10rem;
        height: 10rem;
    }

    .foto3{
        width: 10rem;
        height: 10rem;
    }

    .foto4{
        width: 10rem;
        height: 10rem;
    }

    /* Reviews */

    .reviews{
        height: 80rem;
        margin-left: 1rem;
    }

    .reviewsblokken{
        height: 20rem;
        width: 20rem;
    }

    /* Footer */

    footer{
        width: 100vh;
        height: 50rem;
        flex-wrap: wrap;
        display: block;
    }

    .footer_section1{
        font-size: 1rem;
        height: 20rem;
        width: 30rem;
    }

    .footer_section2{
        height: 20rem;
        gap: 1rem;
        padding: 0rem;

    }

    /* PRODUCTPAGINA 1 */

    .maincard{
        margin-left: 2.5rem;
        height: 400rem;
    }




    /* WINKELWAGEN.HTML */

    .winkelwagen_section{
        margin-left: 3rem;
    }

    .winkelwagen_blokjes{
        padding-left: 1rem;
    }

    .winkelwagen_img{
        width: 10rem;
    }

    .winkelwagen_h2{
        margin-left: 5rem;
    }
}